<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://res.cloudinary.com/art-gallery-madhvan/image/upload/v1619870601/logo_n089st.svg" type="image/x-icon">

    <title>
        SHL | Projects
    </title>

    <%- style %>
        <!--   Fontawesome CSS  -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
        <!-- Halfmoon CSS -->
        <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/index.css">
</head>

<body class="dark-mode with-custom-webkit-scrollbars with-custom-css-scrollbars" data-dm-shortcut-enabled="true"
    data-sidebar-shortcut-enabled="true">
    <!-- Page wrapper start -->
    <div id="page-wrapper" class="page-wrapper with-navbar with-sidebar with-navbar-fixed-bottom"
        data-sidebar-type="overlayed-all" data-sidebar-hidden="hidden">

        <!-- Sticky alerts -->
        <div class="sticky-alerts"></div>

        
        <!-- Navbar start -->
        <nav class="navbar">
            
            <a href="/" class="navbar-brand ml-10 ml-sm-20">
                <span class="d-sm-flex font-weight-600">
                    <img src="https://res.cloudinary.com/art-gallery-madhvan/image/upload/v1619870601/logo_n089st.svg" class="mt-5" alt="brand-logo">
                    <span class="d-none d-sm-flex">Projects</span>
                </span>
            </a>


            <div class="navbar-content ml-auto">
                <button class="btn btn-action mr-5" type="button" onclick="halfmoon.toggleDarkMode()">
                    <i class="fas fa-moon" aria-hidden="true"></i>
                    <span class="sr-only">Toggle dark mode</span>
                </button>
                

                <form class="form-inline d-md-flex ml-auto" action="/search/search-all" method="get"> <!-- d-none = display: none, d-md-flex = display: flex on medium screens and up (width > 768px), ml-auto = margin-left: auto -->
                    <input type="text" class="form-control" name="q" placeholder="Smart Search" required="required">
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
            
        </nav>
        <!-- Navbar end -->
        
        <%- include('modal') %>

        <!-- Content wrapper start -->
        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="row row-eq-spacing-lg">
                    <div class="col-lg-12">
                        <div class="content">
                            <%- body %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content wrapper end -->

        <!-- Navbar fixed bottom start -->
        <nav class="navbar navbar-fixed-bottom">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="mailto:madhvan.sharma28@gmail.com" class="nav-link">
                        <i class="fa fa-question-circle-o mr-5" aria-hidden="true"></i>
                        Contact
                    </a>
                </li>
            </ul>
            <span class="navbar-text">
                &copy; Madhvan Sharma
            </span>
        </nav>
        <!-- Navbar fixed bottom end -->

    </div>
    <!-- Page wrapper end -->

    <!-- Halfmoon JS -->
    <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
    <script type="text/javascript">
        function parentToggleDarkmode() {
            window.parent.toggleDarkModeFromChild();
        }
    </script>

    <%- script %>
</body>

</html>